[submodule ".vim/bundle/splice"]
	path = .vim/bundle/splice
	url = git://github.com/sjl/splice.vim.git
[submodule ".vim/bundle/python-syntax"]
	path = .vim/bundle/python-syntax
	url = git://github.com/hdima/python-syntax.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/camelcasemotion"]
	path = .vim/bundle/camelcasemotion
	url = git://github.com/bkad/CamelCaseMotion.git
[submodule ".vim/bundle/gnupg"]
	path = .vim/bundle/gnupg
	url = git://github.com/jamessan/vim-gnupg.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/latexBox"]
	path = .vim/bundle/latexBox
	url = git://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule ".vim/bundle/snipMate"]
	path = .vim/bundle/snipMate
	url = git://github.com/garbas/vim-snipmate.git
